.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
docs
Ignore
S_*.txt
S_*.RData
.Renviron
IASDT.R.code-workspace
.Rprofile
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/load_qs.py
inst/VarPar2.py
IASDT.R.Rcheck
